force-app/main/default/flows/Case_Management_Status_and_Intake_Logic.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends escalation alert for High Priority cases.</description>
        <name>Send_Supervisor_Email</name>
        <label>Send Supervisor Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case.Case_Priority_Escalation_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Case_Activity_Log</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Priority_Escalation_Alert</nameSegment>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <decisions>
        <description>Evaluates if the case is High Priority and if the priority has changed, ensuring supervisor notifications only fire when necessary.</description>
        <name>Check_for_High_Priority_Escalation</name>
        <label>Check for High Priority Escalation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Priority is NOT High</defaultConnectorLabel>
        <rules>
            <name>New_Case_Intake</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Intake_Activity</targetReference>
            </connector>
            <label>New Case Intake</label>
        </rules>
        <rules>
            <name>Priority_is_High</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Supervisor_Email</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Priority is High</label>
        </rules>
        <rules>
            <name>Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Resolution_Activity</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Resolved</label>
        </rules>
    </decisions>
    <description>Updated Intake description to plain text for LWC compatibility and added automated Status update to &apos;In Triage&apos;.</description>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Case Management - Status and Intake Logic {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Management - Status and Intake Logic</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Logs the escalation event for the timeline.</description>
        <name>Create_Case_Activity_Log</name>
        <label>Create Case Activity Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <stringValue>Routing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue>Case priority escalated to High. Supervisor notified.</stringValue>
            </value>
        </inputAssignments>
        <object>Case_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates the first timeline entry</description>
        <name>Create_Intake_Activity</name>
        <label>Create Intake Activity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <stringValue>Intake</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue>Initial case intake completed. Status updated to In Triage.</stringValue>
            </value>
        </inputAssignments>
        <object>Case_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates Final Activity as Case is Resolved status</description>
        <name>Create_Resolution_Activity</name>
        <label>Create Resolution Activity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <stringValue>Resolution</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue>Case was closed and resolved.</stringValue>
            </value>
        </inputAssignments>
        <object>Case_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>Updates the Case Status to &apos;In Triage&apos; upon creation to ensure the case is correctly queued for the intake team.</description>
        <name>Update_Status_to_Triage</name>
        <label>Update Status to Triage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_High_Priority_Escalation</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In_Triage</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Status_to_Triage</targetReference>
        </connector>
        <filterFormula>OR(
    ISNEW(),
    (ISCHANGED({!$Record.Priority}) &amp;&amp; ISPICKVAL({!$Record.Priority}, &quot;High&quot;))
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Stores the text that will be saved into the Description field of the Case Activity record for the timeline.</description>
        <name>txtCaseActivityDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Case priority changed to High. Supervisor alert sent.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>The actual text that will be saved into the Description field of the Case Activity record for the user to see.</description>
        <name>txtCaseActivityLogBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Case priority changed to High. Supervisor alert sent.</text>
    </textTemplates>
    <textTemplates>
        <description>Explains the purpose of the Create Records element for the Case Activity object.</description>
        <name>txtCreateRecordDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Generates a history record in the Case Activity object to be displayed by the Timeline LWC.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Explains the purpose of the Email Action element within the Flow canvas.</description>
        <name>txtEmailBoxDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Triggers an official email notification to the Supervisor group when a Case is escalated.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Explains the purpose of the initial Intake logging box.</description>
        <name>txtIntakeBoxDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;This step creates the very first timeline record to show that the Case has entered the Intake stage.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Plain text message used for the initial Case Activity log entry when a case is created or first enters the triage process.</description>
        <name>txtIntakeClean</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Initial case intake completed. Status updated to In Triage.</text>
    </textTemplates>
</Flow>
