force-app/main/default/flows/Case_Intake_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <description>Captures citizen intake data and creates a case with an automated SLA date calculation.</description>
    <dynamicChoiceSets>
        <description>Fetches the TriaTeamA category values.</description>
        <name>pcs_Category</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Triage_Category__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Pulls values from the standard Case Priority field.</description>
        <name>pcs_Priority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>TriaTeamA Case Intake Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Intake Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Commits the intake data to the database. Maps Citizen Lookup, Triage Category, and Priority from the Screen, while assigning the SLA Target Date returned by the Call SLA Calculation Subflow.</description>
        <name>Create_Triage_Case</name>
        <label>Create Triage Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>CitizenLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin__c</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Target__c</field>
            <value>
                <elementReference>Call_SLA_Calculation_Subflow.Target</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Triage_Category__c</field>
            <value>
                <elementReference>Category</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <description>Description: Main intake form for TriaTeamA. Captures citizen details and triage category to trigger routing and SLA logic.</description>
        <name>Case_Intake_Screen</name>
        <label>Case Intake Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Call_SLA_Calculation_Subflow</targetReference>
        </connector>
        <fields>
            <name>CitizenLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Search for Citizen</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Category</name>
            <choiceReferences>pcs_Category</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Triage Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Priority</name>
            <choiceReferences>pcs_Priority</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_Intake_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Input: Passes the Priority selected in the Intake Screen to the TriaTeamA SLA Subflow. Output: Receives the calculated SLA Target Date to be used in Case creation.</description>
        <name>Call_SLA_Calculation_Subflow</name>
        <label>Call SLA Calculation Subflow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Triage_Case</targetReference>
        </connector>
        <flowName>SLA_Calculation</flowName>
        <inputAssignments>
            <name>Priority</name>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
